<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/x-icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRisdGDwtDivHF3APiFFzPq2r_2PETMWLUdT4-gSWk7HnT-rcy4fngqSVBKAk-8CilJqIA&usqp=CAU">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>ASRJC Exercise Venue Booking</title>
</head>
<body>
    <form action="{{url_for('booking')}}" method="post">
        <table border="black">
          {% for name in name_lst %}
          <tr>
              <td>{{name}}</td> <td><input type="radio" name="booking" value="{{name}}"></td>
          </tr>
          {% endfor %}
        </table>
        <input type="submit">
        <a href="{{url_for('index')}}">Return</a>
    </form>
    <br><br>

    <table style="width:100%">
        <tr><td>Name:</td> <td>Email:</td> <td>Venue:</td> <td>Timeslot:</td></tr>
        {% for booking in selected_booking %}
        <tr>
        <td> {{booking[0]}} </td> <td> {{booking[1]}} </td> <td> {{booking[2]}} </td> <td> {{booking[3]}} </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
